:root {
  --primary: #F294C8;
  --secondary: #C391D9;
  --card: #CBC3EC;
  --bg: #f2d5ed;
  --accent: #F29B9B;

  --text: #402a60;
  --white: #ffffff;
}

/* Base */
body {
  font-family: "Nunito", "Comic Sans MS", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #f1daed;
  font-weight: 800;
  letter-spacing: 1px;

  background: #F294C8;
  padding: 10px 20px;
  border-radius: 15px;

  display: block;
  width: fit-content;
  margin: 20px auto;
}

/* Main container */
.container {
  background: var(--card);
  border-radius: 30px;
  padding: 20px;
  max-width: 420px;
  width: 100%;

  box-shadow:
    inset -6px -6px 12px rgba(255,255,255,0.7),
    inset 6px 6px 12px rgba(0,0,0,0.08),
    0 12px 25px rgba(0,0,0,0.15);
}

/* Sections */
fieldset {
  border: none;
  background: rgba(255,255,255,0.4);
  border-radius: 15px;
  padding: 10px;
}

/* Inputs */
input, select {
  border-radius: 12px;
  border: none;
  padding: 8px;
  background: var(--white);

  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.08);
}

/* Labels */
label, legend {
  font-weight: bold;
  color: var(--secondary);
}

/* Buttons */
button {
  background: var(--primary);
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-weight: bold;

  box-shadow: 0 4px 0 #d17ab0;
  transition: 0.2s;
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: translateY(2px);
  box-shadow: none;
}

/* Output (screen) */
.output {
  background: var(--white);
  border-radius: 20px;
  padding: 15px;
  margin-top: 15px;
  text-align: center;

  font-family: "Courier New", monospace;

  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

/* Result states */
.surplus {
  color: var(--accent);
}

.deficit {
  color: var(--secondary);
}

/* Hide */
.hide {
  display: none;
}
